script(src=baseURL+'js/jquery-3.7.1.min.js')
script(src=baseURL+'/js/bootstrap.min.js')
script(src=baseURL+'/js/count-up.min.js')
script(src=baseURL+'/js/wow.min.js')
script(src=baseURL+'/js/tiny-slider.js')
script(src=baseURL+'/js/glightbox.min.js')
script(src=baseURL+'/js/imagesloaded.min.js')
script(src=baseURL+'/js/isotope.min.js')
script(src=baseURL+'/js/main.js')

