nav.site-nav.scrollspy-nav
    a.site-logo(href=baseURL+"") 
        img(src=baseURL+"img/logo-jtd.svg", alt="Logo JTD")


    .site-brand
        ul.site-menu.social.d-flex.align-items-center.flex-column
            li
                a(href="https://www.instagram.com/" alt="Instram @jawara.tech" target="_blank")
                    img(src=baseURL+"img/social/instagram.svg", alt="Instram @jawara.tech")
            li
                a(href="https://www.linkedin.com/showcase/gojek-gotogroup" alt="Linkedin Jawara Tech" target="_blank")
                    img(src=baseURL+"img/social/linkedin.svg", alt="Linkedin Jawara Tech")
            li
                a(href="mailto:contact@jtd.co.id" alt="Mail to contact@jawaratech.co.id" target="_blank")
                    img(src=baseURL+"img/social/mail.svg", alt="Mail to contact@jawaratech.co.id")
            li
                a(href="tel:+6281381405618" alt="Call to +6281381405618" target="_blank")
                    img(src=baseURL+"img/social/phone.svg", alt="Call to +6281381405618")

    //- ul.site-menu.d-flex.align-items-center.flex-row-reverse
    //-     li(class={"is-active" : pageActive === 'home'})
    //-         a.d-flex.align-items-center(href=baseURL+"#home") Home
        
    //-     li
    //-         a.d-flex.align-items-center(href=baseURL+"#about") About 

    //-     li
    //-         a.d-flex.align-items-center(href=baseURL+"#skills") Skills

    //-     li(class={"is-active" : pageActive === 'works'})
    //-         a.d-flex.align-items-center(href=baseURL+"#works") Works

    //-     li
    //-         a.d-flex.align-items-center(href=baseURL+"#photography") Photography